@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Economica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

:root {
  --primary: #0D0630;
  --secondary: #4f5357;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* Nav bar */

nav {
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 50px;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  margin: 0 5vw;
}

li {
  list-style: none;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  flex-grow: 3;
}

.nav__links li {
  transition: .4s ease-in-out;
}

.nav__links li:hover {
  font-size: larger;
  transition: .4s ease-in-out;
}

.nav__logo {
  font-size: x-large;
}

.lang-menu {
  display: flex;
  align-items: center;
}

.lang-menu ul li a {
  margin-right: 5px;
}

/* Header */

.header-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90%;
  margin: 0 5vw;
}


.header-text {
  font-size: 2em;
  text-align: right;
  animation: header-text-animation 2s ease-out;
}

.header-text h4 {
  text-align: left;
}

.header-text p {
  font-size: 1em;
}

@keyframes header-text-animation {
  0%{
    filter: blur(50px);
  }
  100%{
    filter: blur(0);
  }
}

.header-img {
  min-width: 150px;
  max-width: 350px;
}

.header-img img {
  max-width: 350px;
  position: relative;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* About Me */

.main-container:nth-child(1) {
  background-color: #384E77;
  color: #ffffff;
  margin-top: -70px;
  height: calc(100vh + 70px);
}


.about-text {
  border: 1px solid #ffffff;
  width: 50%;
  font-size: x-large;
  padding: 30px;
  margin-left: 10vw;
  border-radius: 9px;
}

.about-text h3 {
  margin-bottom: 1.5rem;
  font-style: bold;
  font-size: xx-large;
}

.about-text p {
  margin-top: 1rem;
  text-align: justify;
}

.about-img-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-img-container img {
  width: 50%;
  object-fit: cover;
  margin-bottom: 40px;
  animation: ease-in-out 3s resume-animation ;
}

.about-img-container button {
  width: 40%;
  justify-content: center;
}

@keyframes resume-animation {
  0%{
    transform: scale(.7);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

/* Skills */

.skills-container h3{
  text-align: center;
  margin: 30px 0;
  font-size: xx-large;
  font-weight: bolder;
  color: #0D0630;
}

.skills-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto ;
  width: 80vw;
  height: 70vh;
  color: #0D0630;
}

.skills-grid-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .4s ease-in-out;
}

.skills-grid-item i {
  font-size: xxx-large;
  margin-bottom: 10px;
}

.skills-grid-item p {
  font-weight: bold;
}

.skill-item-large1{
  grid-column: 1 / 3;
}

.skill-item-large2{
  grid-column: 3 / 5;
}

.skill-item-large3{
  grid-column: 5 / 7;
}

.skills-grid-item:nth-child(10){
  grid-column: 1 / 4;
}

.skills-grid-item:nth-child(11){
  grid-column: 4 / 7;
}


.skills-grid-item:hover{
  transform: scale(1.4);
  transition: .4s ease-in-out;
}

.icon-filter{
  filter: brightness(0) saturate(100%) invert(8%) sepia(19%) saturate(5546%) hue-rotate(232deg) brightness(91%) contrast(111%);
  margin-bottom: 10px;
  height: 42px;
}

/* Proyects */

.main-container:nth-child(3) {
  background-color: #0D0630;
  color: #ffffff;
  margin-top: 104px;
  height: 100vh;
}

/* Button */

.button {
	box-shadow: 0px 10px 14px -7px #0D0630;
	background-color:#0D0630;
  border-radius: 11px;
  border: none;
  padding: 15px 20px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  font: normal bold .8em "Open Sans", sans-serif;

}

.button:active {
	position:relative;
	top:1px;
}

.fa-file-download {
  margin-right: 10px;
}

/* Animated background */

.header-animated {
  background: linear-gradient(-45deg, #0D0630, #18314F, #37534d);
  height: 100vh;
  color:#ffffff;
  background-size: 400% 400%;
  position: relative;
  animation: rotate-background 18s ease-in-out infinite;
}

@keyframes rotate-background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

/* Hidden */

.hidden {
  display: none;
}

/* Shape Dividers  */

.custom-shape-divider-bottom-1624082087 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1624082087 svg {
  position: relative;
  display: block;
  width: calc(227% + 1.3px);
  height: 90px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1624082087 .shape-fill {
  fill: #384E77;
}

.custom-shape-divider-bottom-1624152324 {
  position: absolute;
  top: 200vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1624152324 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 49px;
}

.custom-shape-divider-bottom-1624152324 .shape-fill {
  fill: #384E77;
}

.custom-shape-divider-bottom-1624165588 {
  position: absolute;
  top: 300vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1624165588 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 104px;
}

.custom-shape-divider-bottom-1624165588 .shape-fill {
  fill: #0D0630;
}